<div class="ui-diff" drag-scroll="true" axis="x">
    <div class="ui-diff__item">
        <div class="ui-diff__date">
            <span class="badge badge-primary">Today: {{vm.today.date}}</span>
        </div>
        <div class="ui-diff__content">
            <table class="table table-unstriped">
                <thead>
                    <tr>
                        <th class="text-right">
                            <div class="btn-group" uib-dropdown>
                                <button class="btn btn-xs btn-link" title="Open list of possible action" uib-dropdown-toggle>
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li class="dropdown-header">Actions</li>
                                    <li>
                                        <a href ng-click="vm.action(vm.today)"><i class="fa fa-pencil"></i> Edit history</a>
                                    </li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in vm.today.data" ng-class="{'active': vm.today.changes[key]}">
                        <td ng-mouseover="editOption = true" ng-mouseleave="editOption = false"> 
                            {{vm.labels[key]}}: {{value}}
                            <a href title="Edit history" ng-click="vm.action(vm.today)" ng-show="editOption">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui-diff__item" ng-repeat="history in vm.histories">
        <div class="ui-diff__date">
            <span class="badge badge-default">{{history.date}}</span>
        </div>
        <div class="ui-diff__content">
            <table class="table table-unstriped">
                <thead>
                    <tr>
                        <th width="35" class="text-right">
                            <div class="btn-group" uib-dropdown>
                                <button class="btn btn-xs btn-link" title="Open list of possible action" uib-dropdown-toggle>
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li class="dropdown-header">Actions</li>
                                    <li>
                                        <a href ng-click="vm.action(history)"><i class="fa fa-pencil"></i> Edit history</a>
                                    </li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in history.data" ng-class="{'active': history.changes[key]}">
                        <td ng-mouseover="editOption = true" ng-mouseleave="editOption = false">
                            {{vm.labels[key]}}: {{value}}
                            <a href title="Edit history" ng-click="vm.action(history)" ng-show="editOption">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>